---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: mediacatalogadmin
spec:
  ingressClassName: traefik
  rules:
    - host: immich.local
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: immich
                port:
                  number: 2283
    - host: n8n.local
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: n8n-service
                port:
                  number: 5678
    - host: s3.local
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: seaweedfs
                port:
                  number: 8333
    - http:
        paths:
          - path: /streamer
            pathType: Prefix
            backend:
              service:
                name: mediastreamer
                port:
                  number: 3000
          - path: /immich
            pathType: Prefix
            backend:
              service:
                name: immich
                port:
                  number: 2283
          - path: /ytapi
            pathType: Prefix
            backend:
              service:
                name: ytstreamer
                port:
                  number: 8000
          - path: /pserve
            pathType: Prefix
            backend:
              service:
                name: staticserver
                port:
                  number: 80
          - path: /
            pathType: Prefix
            backend:
              service:
                name: plex-service
                port:
                  number: 32400
          - path: /copyparty
            pathType: Prefix
            backend:
              service:
                name: copyparty
                port:
                  number: 80        